ZOHO_CLIENT_ID=your_zoho_self_client_id_here
ZOHO_CLIENT_SECRET=your_zoho_self_client_secret_here
ZOHO_REFRESH_TOKEN=your_zoho_refresh_token_here
ZOHO_ORG_ID=your_zoho_books_organization_id_here
WATI_TENANT_ID=your_wati_tenant_id_here
WATI_ACCESS_TOKEN=your_wati_scoped_access_token_here
